.menuBtn{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    margin: 20px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primaryButtonBackground);
    svg{
        fill: var(--primaryButton);
        display: block;
        width: 26px;
        height: 26px;
        margin: 0 auto;
        padding-top: 6px;
    }
    &:hover{
        background-color: var(--secondaryButtonBackground);
    }
}
