.clock{
    position: relative;
    width: 60vw;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .divider{
        display: inline-block;
        font-size: 220px;
        color: var(--primaryFontColor);
    }
    .counter{
        flex-basis: 28%;
        margin: 0;
        color: var(--primaryFontColor);
        text-align: center;
        p{
            margin: 0;
            font-size: 200px;
            font-weight: 800;
            margin-bottom: 0;
        }
        span{
            font-size: 24px;
        }
        &:first-child{
            flex-basis: 100%;
        }
    }
}

@media(max-width:1400px){
    .clock{
        width: 70vw;
        .divider{
            font-size: 160px;
        }
        .counter{
            p{
                font-size: 160px;
            }
        }
    }
}

@media(max-width:930px){
    .clock{
        .divider{
            font-size: 100px;
        }
        .counter{
            p{
                font-size: 100px;
            }
        }
    }
}

@media(max-width:580px){
    .clock{
        .divider{
            font-size: 70px;
        }
        .counter{
            p{
                font-size: 70px;
            }
            span{
                font-size: 18px;
            }
        }
    }
}
@media(max-width:420px){
    .clock{
        width:calc(100% - 40px);
        .divider{
            font-size: 50px;
        }
        .counter{
            p{
                font-size: 50px;
            }
        }
    }
}
