html {
  height: 100%;
  --primaryBackground: #fff;
  --primaryButtonBackground: #03A9F4;
  --primaryButton: #fff;
  --secondaryButtonBackground: #039BE5;
  --primaryMenuBackground: #0277BD;
  --primaryFontColor: #000;
}
html[theme="dark"]{
  --primaryBackground: #000;
  --primaryButton: #fff;
  --primaryFontColor: #fff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height: 100%;
}
